<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.newOrder}">Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:if="${message!=null}">
        <div class="alert alert-info">
            <span th:text="#{${message}}"/>
        </div>
    </div>
<form th:action="@{/user/order/{id}/new(id=${idCar})}" th:method="POST" role="form" data-toggle="validator" th:object="${order}">
    <div class="form-group col-xs-4">
        <input type="hidden" th:value="${idCar}">
        <label for="serial" class="control-label col-xs-4" th:text="#{label.order.passportSerial}">Drive licence:</label>
        <input type="text" name="serial" id="serial" th:field="*{passportSerial}" class="form-control" placeholder="AA1234" value="${serialNumber}" required="true"/>
        <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('passportSerial')}" th:errors="*{passportSerial}"></div>

        <label for="expire" class="control-label col-xs-4" th:text="#{label.order.passportEndDate}">expire</label>
        <input type="text" pattern="^\d{4}-\d{2}-\d{2}$" name="expire" id="expire" class="form-control"
               th:value="${expireDate}" maxlength="10" placeholder="yyyy-MM-dd" required="true"/>

        <label for="startDate" class="control-label col-xs-4" th:text="#{label.order.startDate}">start date</label>
        <input type="text" pattern="^\d{4}-\d{2}-\d{2}$" name="startDate" id="startDate" class="form-control"
               th:value="${startDate}" maxlength="10" placeholder="yyyy-MM-dd" required="true"/>

        <label for="endDate" class="control-label col-xs-4" th:text="#{label.order.endDate}">end Date</label>
        <input type="text" pattern="^\d{4}-\d{2}-\d{2}$" name="endDate" id="endDate" class="form-control"
               th:value="${endDate}" maxlength="10" placeholder="yyyy-MM-dd" required="true"/>

        <label for="check" class="control-label col-xs-4" th:text="#{label.order.withDriver}+'?'">withDriver?</label>
        <input type="checkbox" th:field="*{withDriver}" name="check" id="check" value="true" checked/>

        <br></br>
        <button type="submit" class="btn btn-primary  btn-md" th:text="#{button.accept}">Accept</button>
    </div>
</form>
</div>
</body>
</html>